In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kyshtovka,RU,2022-02-02 01:34:31,56.5550,76.6271,-2.67,100,99,4.12
1,1,Preobrazheniye,RU,2022-02-02 01:34:32,42.9019,133.9064,19.33,46,0,6.71
2,2,Ketchikan,US,2022-02-02 01:34:32,55.3422,-131.6461,33.78,85,100,3.11
3,3,La Ronge,CA,2022-02-02 01:29:22,55.1001,-105.2842,-9.15,64,75,10.36
4,4,Shimoda,JP,2022-02-02 01:31:29,34.6667,138.9500,50.36,44,1,12.33

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Hithadhoo,MV,2022-02-02 01:27:17,-0.6000,73.0833,82.38,72,6,12.35
16,16,Georgetown,MY,2022-02-02 01:25:47,5.4112,100.3354,82.33,82,20,1.01
22,22,Garachine,PA,2022-02-02 01:34:38,8.0647,-78.3628,76.87,80,0,10.42
24,24,Alofi,NU,2022-02-02 01:25:58,-19.0595,-169.9187,76.89,94,75,11.50
27,27,Coahuayana,MX,2022-02-02 01:34:40,18.7333,-103.6833,80.08,68,0,0.47
30,30,Sabang,ID,2022-02-02 01:34:41,5.8933,95.3214,80.96,73,16,6.98
34,34,Vaini,TO,2022-02-02 01:34:43,-21.2000,-175.2000,87.96,70,40,10.36
38,38,Atuona,PF,2022-02-02 01:26:02,-9.8000,-139.0333,78.87,73,16,19.73
43,43,Avarua,CK,2022-02-02 01:25:57,-21.2078,-159.7750,82.45,78,84,12.66
45,45,Rikitea,PF,2022-02-02 01:34:46,-23.1203,-134.9692,78.44,69,86,5.55

In [13]:
preferred_cities_df.count()

City_ID       127
City          127
Country       127
Date          127
Lat           127
Lng           127
Max Temp      127
Humidity      127
Cloudiness    127
Wind Speed    127
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
11   Hithadhoo      MV     82.38  -0.6000   73.0833
16  Georgetown      MY     82.33   5.4112  100.3354
22   Garachine      PA     76.87   8.0647  -78.3628
24       Alofi      NU     76.89 -19.0595 -169.9187
27  Coahuayana      MX     80.08  18.7333 -103.6833
30      Sabang      ID     80.96   5.8933   95.3214
34       Vaini      TO     87.96 -21.2000 -175.2000
38      Atuona      PF     78.87  -9.8000 -139.0333
43      Avarua      CK     82.45 -21.2078 -159.7750
45     Rikitea      PF     78.44 -23.1203 -134.9692

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Hithadhoo,MV,82.38,-0.6000,73.0833,Scoop Guest House
16,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
22,Garachine,PA,76.87,8.0647,-78.3628,
24,Alofi,NU,76.89,-19.0595,-169.9187,Taloa Heights
27,Coahuayana,MX,80.08,18.7333,-103.6833,El rranchito michuacan de ocampos
...,...,...,...,...,...,...
556,Auki,SB,82.81,-8.7676,160.7034,Auki Motel
557,Inhambane,MZ,75.09,-23.8650,35.3833,Oceano
558,Kroya,ID,88.20,-7.6331,109.2461,RUSTANTO Fam
564,Acapulco,MX,78.62,16.8634,-99.8901,HS Hotsson Smart Acapulco
566,Bowen,AU,89.82,-20.0167,148.2333,Castle Motor Lodge Motel

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))